@model ClinicaVeterinaria.Models.Agenda

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Agenda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataConsulta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataConsulta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Veterinario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Veterinario.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
