@model IEnumerable<ClinicaVeterinaria.Models.Pet>

@{
    ViewData["Title"] = "Pets";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Cadastrar Pet</a>
</p>

<nav class="navbar navbar-inverse">
<div class="container-fluid">
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input class="form-control" name="nome" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
</div>
</nav>

<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proprietario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Raca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Peso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Proprietario.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-action="Prontuario" asp-route-id="@item.Id">Prontuario</a>
                </td>
            </tr>
        }
    </tbody>
</table>
