@model ClinicaVeterinaria.Models.Caixa

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Caixa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Historico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Historico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EntradaouSaida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntradaouSaida)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
